.group {
  border-radius: var(--mantine-radius-md);
  pointer-events: none;
}

.icon-accept {
  color: var(--mantine-color-blue-6);
}
.icon-reject {
  color: var(--mantine-color-red-6);
}
.icon-idle {
  color: var(--mantine-color-dimmed);
}
